n8n/workflows/sms-scheduler.json
{
  "name": "Review Rocket - SMS Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-every-5min",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "sms_job:*:pending"
      },
      "id": "redis-query",
      "name": "Get Pending SMS Jobs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-jobs",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-has-jobs",
      "name": "Has Pending Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {},
      "id": "split-batch",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "to": "={{ $json.phoneNumber }}@vtext.com",
        "subject": "",
        "text": "Hi! Please rate your recent appointment: https://reviewrocket-app.vercel.app/review/{{ $json.businessId }}/{{ $json.appointmentId }}?ref=sms",
        "options": {}
      },
      "id": "send-sms-email",
      "name": "Send Vtext SMS",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "sms_job:{{ $json.appointmentId }}:sent",
        "value": "={{ JSON.stringify({...$json, status: 'sent', sentAt: new Date().toISOString()}) }}"
      },
      "id": "redis-update-sent",
      "name": "Mark as Sent",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Pending SMS Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending SMS Jobs": {
      "main": [
        [
          {
            "node": "Has Pending Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Jobs?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Send Vtext SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Vtext SMS": {
      "main": [
        [
          {
            "node": "Mark as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
